fortran/
temperaturas_sinteticas*
norma*
estimativa*
erro_rms*
desvio_relativo*
conductance*
interface*
metricas*
media*
delta_temperatura_interface_08*
delta_temperatura_interface_1*
fluxo_calor_interface_08*
fluxo_calor_interface_1*
coeficientes_interface_0*
